@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
#smile{
  bottom: -15px;
  left: 200px;
}
#left-dot{
  bottom: 36px;
  left: 180px;
}
#right-dot{
  bottom: 36px;
  left: 220px;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}